/* ==========================================================================
   Text Colors
   ========================================================================== */

.text-black {
    color: var(--black) !important;
}

.text-gold {
    color: var(--gold) !important;
}

.text-white {
    color: var(--white) !important;
}

.text-silver {
    color: var(--silver) !important;
}
