<section class="section section-silver silver-scroll">
    <div class="container">
        <h2 class="mb-4" data-aos="fade-up">Frequently Asked Questions</h2>
        <div class="col-lg-8 mx-auto">
            <div class="accordion" id="FAQ">
                {% for faq in faqs %}
                <!-- FAQ {{ loop.index }} -->
                <div class="accordion-item" data-aos="fade-up">
                    <h3 class="accordion-header">
                        <button class="accordion-button{% if not loop.first %} collapsed{% endif %}" type="button"
                            data-bs-toggle="collapse" data-bs-target="#faq{{ loop.index }}">
                            {{ faq.question }}
                        </button>
                    </h3>
                    <div id="faq{{ loop.index }}" class="accordion-collapse collapse{% if loop.first %} show{% endif %}"
                        data-bs-parent="#FAQ">
                        <div class="accordion-body">
                            {{ faq.answer }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
