<div class="section section-silver silver-scroll">
    <div class="container text-center">
        <h2 data-aos="fade-up">Follow Us</h2>

        <!-- Facebook Link -->
        <a href="#">
            <div class="btn btn-gold btn-wide gold-shine-animation" data-aos="fade-left" data-aos-delay="200">
                <i class="fab fa-facebook me-2"></i> Follow Us on Facebook
            </div>
        </a>

        <!-- Newsletter Signup -->
        <div class="newsletter-section" data-aos="fade-right" data-aos-delay="400">
            <h3>Subscribe to Our Newsletter</h3>
            <form class="newsletter-form">
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Enter your email">
                    <button type="submit" class="btn btn-gold gold-shine-animation">Subscribe</button>
                </div>
            </form>
        </div>

    </div>
</div>
