<div class="section section-white">
    <div class="container">
        <h2 data-aos="fade-up">Location</h2>

        <!-- Google Maps Embed -->
        <div class="map-container" data-aos="fade-up" data-aos-delay="400">
            <iframe
                src="https://www.google.com/maps/embed/v1/place?key={{ GOOGLE_MAPS_API_KEY }}&q={{ variables.service_address|urlencode }}"
                width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy">
            </iframe>
        </div>

        <!-- Address Information -->
        <div class="location-info">

            <!-- Service Location -->
            <div class="pt-4" data-aos="fade-left" data-aos-delay="600">
                <h3>Service Location</h3>
                <p>{{ variables.service_address }}</p>
            </div>

            <!-- Mailing Address -->
            <div class="pt-4" data-aos="fade-right" data-aos-delay="800">
                <h3>Mailing Address</h3>
                <p>{{ variables.mailing_address }}</p>
            </div>

        </div>
    </div>
</div>
