<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GWC Theme</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/old/styles.css">

</head>

<body>

    <!-- Gold Div -->
    <div class="gold-div">
        <div class="container">
            Helping Those in Need | 262-452-0212
        </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand mx-auto" href="#">
                {# <img class="navbar-logo kwc-logo"src="/static/images/logos/KWC - currentColor.svg" alt="Logo"> #}
                <object type="image/svg+xml" data="/static/images/logos/KWC - Gold - Transparent.svg" class="navbar-logo kwc-logo"></object>

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mt-auto" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Volunteer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Donate</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Info Div -->
    <div class="px-4 py-5 text-center info-div">
        <div class="col-lg-8 mx-auto">
            <p class="lead">Kenosha Welcome Center is a warm and caring place that provides friendship, food assistance,
                meals, showers, and emergency clothing to economically disadvantaged individuals and families residing
                in Kenosha County, Wisconsin.</p>
        </div>
    </div>

    <!-- Services Cards -->
    <div class="container" id="custom-cards">

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2">
            <div class="col py-3">
                <div class="card card-cover overflow-hidden rounded-4 shadow-lg">
                    <div class="card-body">
                        <h3 class="my-auto display-6 lh-1 fw-bold text-uppercase">Food Pantry</h3>
                        <p>Tuesday <br> 4:00 PM - 5:30 PM <br><br></p>
                    </div>
                </div>
            </div>

            <div class="col py-3">
                <div class="card card-cover overflow-hidden rounded-4 shadow-lg">
                    <div class="card-body">
                        <h3 class="my-auto display-6 lh-1 fw-bold text-uppercase">Breakfast</h3>
                        <p>Thursday & Friday <br> Doors Open: 7:00 AM - 9:15 AM <br> Breakfast Served: 8:30 AM - 9:15
                            AM</p>
                    </div>
                </div>
            </div>

            <div class="col py-3">
                <div class="card card-cover overflow-hidden rounded-4 shadow-lg">
                    <div class="card-body">
                        <h3 class="my-auto display-6 lh-1 fw-bold text-uppercase">Showers</h3>
                        <p>Thursday & Friday <br> 7:00 AM - 9:00 AM<br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Map -->
    <div class="px-4 text-center info-div py-5">
        <div class="container">
            <h2 class="pb-1 border-bottom">Location</h2>
            <div class="row">
                <div class="col">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2979.268625210289!2d-87.83419748418435!3d42.58115027916927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88055a9b6cd26b0b%3A0xc57945d1a6e6c1fb!2s2006%2060th%20St%2C%20Kenosha%2C%20WI%2053140%2C%20USA!5e0!3m2!1sen!2suk!4v1644724609600!5m2!1sen!2suk"
                        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>






    <footer>
        <div class="container footer-content">
            <div class="footer-contact">
                <div class="footer-contact-address">
                    <strong>Kenosha Welcome Center</strong><br><br>
                    Service Location: Coming Soon<br>
                    Mailing Address: 4623 75th St. STE 4-177 Kenosha, WI 53142<br><br>
                    <a href="tel:262-XXX-XXXX">262-XXX-XXXX</a><br>
                    <a href="#">Send us a message</a>
                </div>
            </div>
            <div>
                &copy; 2024 | All Rights Reserved
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
