<footer class="black-scroll">
    <div class="container footer-content">
        <div class="row">

            <!-- Contact Information -->
            <div class="col-lg-4 mb-5">
                <h3>Contact Us</h3>
                <p><i class="fas fa-map-marker-alt"></i> Service Location:<br>{{ variables.service_address }}</p>
                <p><i class="fas fa-envelope"></i> Mailing Address:<br>{{ variables.mailing_address }}</p>
                <p><i class="fas fa-phone"></i> <a href="tel:{{ variables.phone }}">{{ variables.phone }}</a></p>
            </div>

            <!-- Quick Links -->
            <div class="col-lg-4 mb-5">
                <h3>Quick Links</h3>
                <ul class="footer-links">
                    <li><a href="{{ request.url_for('root_index_router') }}">Home</a></li>
                    <li><a href="{{ request.url_for('services') }}">Services</a></li>
                    <li><a href="{{ request.url_for('volunteer') }}">Volunteer</a></li>
                    <li><a href="{{ request.url_for('about') }}">About</a></li>
                    <li><a href="{{ request.url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ request.url_for('donate') }}">Donate</a></li>
                    <li><a href="{{ request.url_for('login') }}">Staff Login</a></li>
                </ul>
            </div>

            <!-- Hours of Operation -->
            <div class="col-lg-4 mb-5">
                <h3>Hours of Operation</h3>
                <p>Food Pantry: Tuesday 4:00 PM - 5:30 PM</p>
                <p>Breakfast & Showers: Thursday & Friday 7:00 AM - 9:15 AM</p>
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-bottom">
            <p>&copy; {{ current_year }} Kenosha Welcome Center. All rights reserved.<br /><br />Grace Welcome Center™ is a registered
                trademark of Kenosha Welcome Center, Inc.</p>

        </div>

    </div>
</footer>
