<footer class="black-scroll">
    <div class="container footer-content">
        <div class="row">

            <!-- Contact Information -->
            <div class="col-lg-4 mb-5">
                <h3>Contact Us</h3>
                <p><i class="fas fa-map-marker-alt"></i> Service Location:<br>2006 60th St. Kenosha, WI 53140</p>
                <p><i class="fas fa-envelope"></i> Mailing Address:<br>4623 75th St. STE 4-177 Kenosha, WI 53142</p>
                <p><i class="fas fa-phone"></i> <a href="tel:262-452-0212">262-452-0212</a></p>
            </div>

            <!-- Quick Links -->
            <div class="col-lg-4 mb-5">
                <h3>Quick Links</h3>
                <ul class="footer-links">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#volunteer">Volunteer</a></li>
                    <li><a href="#about">About</a></li>
                </ul>
            </div>

            <!-- Hours of Operation -->
            <div class="col-lg-4 mb-5">
                <h3>Hours of Operation</h3>
                <p>Food Pantry: Tuesday 4:00 PM - 5:30 PM</p>
                <p>Breakfast & Showers: Thursday & Friday 7:00 AM - 9:15 AM</p>
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-bottom">
            <p>&copy; {{ current_year }} Kenosha Welcome Center. All rights reserved.<br />Grace Welcome Center™ is a registered
                trademark of Kenosha Welcome Center, Inc.</p>

        </div>

    </div>
</footer>
