/* ==========================================================================
   Base Styles and Resets
   ========================================================================== */
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    padding-top: calc(var(--navbar-height) + var(--gold-bar-height));
    width: 100%;
    background-color: var(--gray);
}

/* Prevent horizontal scroll */
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Container Overrides */
.container {
    max-width: 1200px !important;
}

/* Animation Controls */
.no-transitions * {
    transition: none !important;
}

/* Responsive Adjustments */
@media (max-width: 991.98px) {
    body {
        padding-top: calc(var(--navbar-height-mobile) + var(--gold-bar-height));
    }
}
